@tailwind base;
@tailwind components;
@tailwind utilities;

.select2.select2-container{
width: 100% !important;
}

.break-words ul{
    list-style-type: disc;
    padding-left: 1.5rem; /* Adjust as needed */
}


 .job__details p{
    padding-bottom: 10px;
}


 .job__details hr{
    margin: 20px 0;
    border-color: #e5e7eb;
}


 .job__details h3{
    margin-bottom: 10px;
}

